.form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}
@media (min-width: 992px) {
  .container {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .container {
    margin-top: 50px;
  }
}